@import "./utils/animations";
@import "./utils/mixins";
@import "./utils/variables";
@import "./layouts/_header";
@import "./components/_app";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/home";
@import "./components/home";
@import "./pages/login";
@import "./components/articleitem";
@import "./pages/signup";
@import "./base/common";
@import "./layouts/form";
@import "./layouts/spinner";
@import "./utils/mobile";
@import "./components/app";
@import "./pages/socialLogin";
@import "./components/social";
@import "./layouts/slider";
@import "./components/editor";
@import "./components/preloader";
@import './components/viewarticle';
@import './components/react-rater';
@import './components/pagination';
@import './pages/profile';
@import './components/profileEditForm';
@import './components/myarticles';
@import './components/article';
@import './components/search';
@import './components/article';
@import './components/search';
@import './components//bookmark';
