$blue:#00aeff;
$grey:rgba(0, 0, 0, 0.22);
$dark:#303346;
$dark-grey:rgba(0, 0, 0, 0.5);
$title_color:#45536f; 
$white:#ffffff;
$black: #000000;

// Font
$font-family:"Raleway";
$text-font-family: "Roboto";

$social-list: (
    facebook #4b70ab,
    twitter #3b94d9,
    googleplus #dd4b39,
    
);
