/*preloader*/
.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
}
