/*preloader*/
.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 800px;
  width: 100%;
}