.view-article-content {
  min-height: 90vh;
  .editor-main {
    justify-content: center;
  }
  .title-content {
    border: 0px solid gray;
    & p {
      font-size: 35px;
      color: $dark;
    }
  }
  .profile-content {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
  .left-nav {
    border: 0px solid gray;
  }
  .tagitem {
    background: $gray;
    padding: 0 10px 0 10px;
    border: 0;
    border-radius: 10px;
  }
  .rigth-nav {
    border: 0px solid gray;
    text-align: center;
    padding-left: 20px;
    .social-buttons {
      float: right;
      position: fixed;

      .hide-button {
        display: none;
      }
      :hover {
        cursor: pointer;
      }
    }
    .share-count {
      position: relative;
    }
    .share-count .count {
      position: absolute;
      right: -10px;
      padding: 5px 5px;
      z-index: 100;
      bottom: -5px;
    }
    .count{
      border-radius: 50%;
    }
    .floating-buttons {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $blue;
      outline: none;
      & i {
        color: white;
        font-size: 25px;
      }
    }
    .facebook {
      background: $facebook;
    }
    .twitter {
      background: $twitter;
    }
    .email {
      background: $email;
    }
    .bookmark {
      background: $bookmark;
    }
    .dislike {
      background: $dislike;
    }
    .delete {
      background: $red;
    }
    
    .star{
      background: $ratingColor;
    }
  }
  .model-header-div{
    background: $red;
    border-radius:0; 
    color: $white;
}
 .modal-footer-div{
    background: $red;
    border-radius:0; 
    color: $white;
}
.modal-body-div{
  background: $sec-red;
  border-radius:0; 
  color: $white;
  p{
    font-size: 20px;
  }
}
.like-article-btn{
  color: $green;
}
.dislike-article-btn{
  color: $orange;
}
}

@media screen and (max-width: 894px) {
  .view-article-content {
    .rigth-nav {
      display: none;
      border: 0px solid gray;
      .social-buttons {
        float: left;
        position: relative;
        display: flex;
        .flauting-buttons {
          margin-right: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .view-article-content {
    .rigth-nav {
      display: none;
      border: 0px solid gray;
      .social-buttons {
        float: left;
        position: relative;
        display: flex;
        .floating-buttons {
          margin-right: 5px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .view-article-content {
    .rigth-nav {
      border: 0px solid gray;
      .social-buttons {
        float: left;
        position: relative;
        display: flex;
        .flauting-buttons {
          width: 45px;
          height: 45px;
          margin-right: 5px;
        }
      }
    }
  }
}
