@import '../abstracts/variables';

.article-card {
  padding: 15px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 6px -6px #777;
}

.article-card .d-avatar,
.follow-card .d-avatar {
  height: 50px;
  width: 50px;
}

.article-card-img {
  border-radius: 5px;
  height: 250px;
}

.article-title {
  color: #000;
  font-size: 1.5em;
  margin: 5px 0;
}

.article-description {
  text-align: justify;
}

.article-description,
.article-actions {
  color: rgba(0, 0, 0, 0.856);
  font-size: 1em;
}

a:hover {
  text-decoration: none;
}

.article-title:hover {
  text-decoration: underline;
}