.follow-card--container {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;

  .follow-card-content {
    margin-left: 10px;
  }
  
  follow-card-info {
    margin-bottom: 10px;
  }
  
  .btn-custom {
    width: 150px;
    border-radius: 30px !important;
  }
  
  .d-avatar {
    height: 80px;
    width: 80px;
  }
  
  .btn-custom.unfollow {
    color: rgba(255, 0, 0, 0.788);
    background: #fff;
    border: 1px solid #C4C4C4;
  }

  .username:hover {
    text-decoration: underline;
  }
}
