$blue:#00aeff;
$grey:rgba(0, 0, 0, 0.22);
$dark:#303346;
$dark-grey:rgba(0, 0, 0, 0.5);
$title_color:#45536f; 
$white:#ffffff;
$black: #000000;
$facebook: #3f6ac8;
$twitter:rgb(36, 180, 246);
$email: rgb(199, 88, 14);
$bookmark: rgb(83, 148, 89);
$gray: rgb(219, 219, 219);
$dislike: rgb(226, 186, 8);
$black:#000000;
$red:#FF0000;

// Font
$font-family:"Raleway";
$text-font-family: "Roboto";

// Social login
$social-list: (
    facebook #4b70ab, 
    twitter #3b94d9,
    googleplus #dd4b39,
    
);
// Breakpoints for responsiveness
$mobile: 480px;
$tablet: 768px;
$desktop-min: $tablet + 1px;
$desktop-max: 1024px;
