footer {
  background: $dark;
  color: $white;
  margin: 7% 0px 0px  0px;
  padding: 15px;
  hr {
    background: $blue;
  }
  .social-links {
    margin-right: 20%;
    display: flex;
    justify-content: space-around;

    .social-links__item {
      margin-right: 10px;
      i.fab {
        font-size: 3vh;
        color: $blue;
      }
    }
  }
}
