form {
  position: relative;

  input[type='text'],
  input[type='email'],
  input[type='password'],
  textarea {
    position: relative;
    width: 100%;
  }

  textarea {
    position: relative;
    width: 100%;
  }

  .form-radios {
    margin: auto 5%;
  }
}
