form{    
    .field{
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        label{
            width: 100%;
            position: relative;
            color:$title_color;
            display: inline-block;
        }
       
        input[type=submit]{
            background-color: $title_color;
            height: 50px;
            color:$white;
            border-radius: 5px;
            font-size: 18px;
        }  
        p{
            color: red
        }

    }
}
#col-resetPassword{
    input[type=text],input[type=email], input[type=password], input[type=submit]{
        width:86%;
        margin-bottom: 5%;
        height: 40px;  
        border-style: groove; 
        border-radius: 5px;
    }
} 
 
@media(max-width:768px){
    input[type=text],input[type=password] {
        margin-bottom: 10px;
        width:95%;    
    }
  }
  @media(width:1024px){

    input[type=text],input[type=password] {
       
        width:45.5%;    
    }
  }