.side{
  &__drop{
    width: 30%;
    background:white;
    position: absolute;
    top: 6%;
    right: 0;
    border:1px solid grey;
    width: 10%;
    animation:show .5s ease-in;
    border-radius: 5px;
    z-index:10;

    @include mediaSm{
      width: 50%;
    }

    @include mediaMd{
      width: 70%;
    }

    ul{
      list-style: none;
      padding: 20px;
      li a{
        display: flex;
        justify-content: space-around;
      }
    }
  }
}

@keyframes show{
  from{
    transform:translate3d(100%,0,0);
    opacity: 0;
  }
  to{
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}