@import '../utils/mobile';
.main-section-login {
  .row-login {
    min-height: 400px;
    margin: 0 auto;
    width: 60vh;
    margin-top: 100px;
    border-radius: 7px;
    padding: 70px 0 70px 0;
    box-shadow: 2px 2px 10px 2px #c9c9c9;
    @include mediaSm {
      width: 100%;
    }
    @include mediaMd {
      width: 100%;
      margin-top: 100px;
      box-shadow: 0px 0px 0px 0px #ffffff;
    }

    #col-login {
      width: 100%;
      margin: 0 auto;

      h4 {
        color: $title_color;
        font-weight: 500;
        text-shadow: 0px 4px 4px rgba(0, 174, 255, 0.25);
        letter-spacing: 0.02em;
        text-align: center;
      }
    }
  }
}
