@import '../utils/variables';
@import '../layouts/resetPasswordEmailForm';


main{
  margin:auto 0%;
  transform:translate3d(0,-20px,0);
  .rowForm {
    min-height: 400px;
    margin: 0 auto;
    width: 80%;
    margin-top: 6%;
    border-radius: 7px;
    padding:70px 3% ;
    box-shadow: 2px 2px 10px 2px #C9C9C9;
    .col-md-6{
      h4{
        color: $title_color;
        font-weight: 500;
        text-shadow:  0px 4px 4px rgba(0, 174, 255, 0.25);
        letter-spacing: 0.02em;

      }
       h5{
        color: $black;
        margin-top: 3%;
        font-weight: 450;
        letter-spacing: 0.02em;

      }
      .reset-message{
        color: rgb(66, 66, 136)
      }
      .link{
        font-size: 22px;
        margin-left: 3%;
      }
    }
    #passwordImage{
      margin-top: 4%;
      img{
        width:400px;
      }
    }
  }
}
.main-section{
  margin: auto 11.5%;
}

.side-section{
  border-left: 1px solid rgb(226, 226, 226);
  padding-left: 2.1vh;
}
@media(max-width: 768px){
  
  main .row #image
  {
    margin-top: 300px;

  img{
      width: 230px
    }
  } 
 main .row #passwordImage
 {
  display: none;
} 
}
@media(max-width: 480px){
  #image,#passwordImage{
    display: none;
  }
  .col-md-6{
    
    h4{
      color:$title_color;
      font-weight: 500;
      text-align: center;
      text-shadow:  0px 4px 4px rgba(0, 174, 255, 0.25);
      letter-spacing: 0.02em;

    }
     h5{
        color: $black;
        margin-top: 3%;
        font-weight: 450;
        text-align: center;
        letter-spacing: 0.02em;

      }
  }
  
}
@media(max-width: 1024px){

  main .row #passwordImage img{
    width: 250px
  }
}
@media(width: 1024px){

  main .row #image img{
    width: 300px
  }
}